ul {

    width: 100%;
    list-style: none;
    display: grid;
    gap: 1.5em;
    grid-template-columns: minmax(320px, 360px);
    place-content: center;

}

.todo-tasks {
    padding: 1.5em;
    background: var(--cardBackground);
    max-width: 100%;
    border-radius: 10px;
    color: var(--cardText1);
    box-shadow: var(--tasksCardBox);
}

.top--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1.5em 0;

    p {
        font-size: 1.25rem;
        margin: 0;
    }

    .button--wrap {

        display: grid;
        grid-template-columns: auto auto;
        place-items: center;
        gap: 1em;

        button {
            @include svg-button;

            div {
                width: 19px;
                height: 19px;

                svg {
                    path {
                        fill: var(--cardText1);
                    }
                }
            }
        }

        .rotate {
            transform: rotate(180deg);
        }


    }
}

.mid--wrapper {

    margin: 3em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }
}

.status--wrapper {
    @include medium-button;
    background-color: var(--statusBg);
    border-radius: 50px;




    .completed {
        @include flex-1;


        .check--icon {
            height: 19px;
            width: 19px;
            margin: 0 0.25em 0 0;

            svg {


                path {
                    fill: var(--AddIcon)
                }
            }
        }
    }



    p {
        color: var(--statusText);
        margin: 0;
        font-weight: 500;
    }

}

.finished {
    @include medium-button;
    background-color: unset;
    min-width: 88px;



}

#finished {
    border: 1px solid var(--statusButton);
    color: var(--statusButtonText);

}

#undo {
    border: 1px solid var(--statusButtonPressedBorder);
    color: var(--statusButtonPressedText);

}

.All--tasks {

    .hide--comp,
    .show--none,
    .show--comp {
        display: block;
    }


}

.comp--tasks {
    .hide--comp {
        display: none;
    }

    .show--comp {
        display: block;
    }

}

.not--comp {
    .hide--comp {
        display: none;
    }

    .show--none {
        display: block;
    }

}